Flask==1.0.2
absl-py==0.1.11
alabaster==0.7.10
git+https://github.com/requests/requests.git
gunicorn==0.14.2
requests==2.6.0
git+https://github.com/apixu/apixu-python.git
rasa-core==0.8.6
rasa-nlu==0.11.5
